<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	 <head>
		 <div th:replace="~{fragment :: meta}"></div>   
              
         <div th:replace="~{fragment :: styles}"></div>
	 	
	 	<title>NAGOYAMESHI</title>
	 </head>
	 <body>
		<div class="nagoyameshi-wrapper">
             <!-- ヘッダー -->
             <div th:replace="~{fragment :: header}"></div>
             
             <main>
                 <div class="container pt-4 pb-5 nagoyameshi-container">
                     <div th:if="${param.loggedIn}" class="alert alert-warning">
                         ログインしました。
                     </div>  
                     
                     <div th:if="${param.loggedOut}" class="alert alert-warning">
                         ログアウトしました。
                     </div>
                     
                     <div th:if="${successMessage}" class="alert alert-warning">
                         <span th:text="${successMessage}"></span>
                     </div>
                     
                     <div class="d-flex justify-content-center">                                            
                         <form method="get" th:action="@{/restaurants}" class="mb-5 nagoyameshi-search-form">
                             <div class="input-group">
                                 <input type="text" class="form-control" name="keyword" th:value="${keyword}" placeholder="店名">
                                 <button type="submit" class="btn text-black shadow-sm nagoyameshi-btn">検索</button> 
                             </div>               
                         </form>                        
                     </div>
                     
                                                                                                                   
                                                      
                     <h2 class="text-center mb-3">新着</h2>
                     <div class="row row-cols-lg-5 row-cols-2 g-3 mb-5">                                        
                         <div class="col" th:each="newRestaurant : ${newRestaurants}">
                             <a th:href="@{/restaurants/__${newRestaurant.getId()}__}" class="link-dark nagoyameshi-card-link">
                                 <div class="card h-100">                                                                        
                                     <img th:if="${newRestaurant.getImageName()}" th:src="@{/storage/__${newRestaurant.getImageName()}__}" class="card-img-top nagoyameshi-vertical-card-image" alt="店舗画像">                                     
                                     <img th:unless="${newRestaurant.getImageName()}" th:src="@{/images/noImage.png}" class="card-img-top nagoyameshi-vertical-card-image" alt="NO IMAGE">                                                                                                                        
                                     <div class="card-body">                                    
                                         <h3 class="card-title" th:text="${newRestaurant.getName()}"></h3>
                                         <p class="card-text mb-1">
                                             <small class="text-muted" th:text="${newRestaurant.getAddress()}"></small>                                            
                                         </p>
                                         <p class="card-text">
                                             <span th:text="|¥${newRestaurant.getMinPrice()} ~ ¥${newRestaurant.getMaxPrice()}|"></span>                                           
                                         </p>                                    
                                     </div>
                                 </div>    
                             </a>            
                         </div>                                                                        
                     </div>                    
                     
                     <div class="d-flex justify-content-center">
                         <div class="col-xl-5 col-lg-6 col-md-8">                    
                             <h2 class="text-center mb-3">カテゴリーから探す</h2>                                        
                              
                             <table class="table d-flex justify-content-center nagoyameshi-category-font">
                                 <tbody>                                                                                          
                                     <tr> 
                                         <td>
											 <div class="category-container">
												 <div class="category-item">
                                             		<a th:href="@{/restaurants?category=和食}" class="me-2">和食</a>
												 </div>
												 <div class="category-item">
                                             		<a th:href="@{/restaurants?category=洋食}" class="me-2">洋食</a>
												 </div>
												 <div class="category-item">
                                             		<a th:href="@{/restaurants?category=中華料理}" class="me-2">中華料理</a>
												 </div>
												 <div class="category-item">
                                             		<a th:href="@{/restaurants?category=海鮮料理}" class="me-2">海鮮料理</a>
												 </div>
												 <div class="category-item">
                                             		<a th:href="@{/restaurants?category=鍋料理}">鍋料理</a>
												 </div>
												 <div class="category-item">
                                             		<a th:href="@{/restaurants?category=定食}" class="me-2">定食</a>
												 </div>
												 <div class="category-item">
                                             		<a th:href="@{/restaurants?category=居酒屋}">居酒屋</a>
												 </div>
												 <div class="category-item">
		                                             <a th:href="@{/restaurants?category=丼物}">丼物</a>
												 </div>
												 <div class="category-item">
		                                             <a th:href="@{/restaurants?category=揚げ物}">揚げ物</a>
												 </div>
												 <div class="category-item">
		                                             <a th:href="@{/restaurants?category=うどん}">うどん</a>
												 </div>
												 <div class="category-item">
		                                             <a th:href="@{/restaurants?category=ラーメン}">ラーメン</a>
												 </div>
												 <div class="category-item">
		                                             <a th:href="@{/restaurants?category=おでん}">おでん</a>
												 </div>
												 <div class="category-item">
		                                             <a th:href="@{/restaurants?category=しゃぶしゃぶ}">しゃぶしゃぶ</a>
												 </div>
												 <div class="category-item">
		                                             <a th:href="@{/restaurants?category=焼肉}">焼肉</a>
												 </div>
												 <div class="category-item">
		                                             <a th:href="@{/restaurants?category=すき焼き}">すき焼き</a>
												 </div>
												 <div class="category-item">
		                                             <a th:href="@{/restaurants?category=鉄板焼き}">鉄板焼き</a>
												 </div>
												 <div class="category-item">
		                                             <a th:href="@{/restaurants?category=天ぷら}">天ぷら</a>
												 </div>
												 <div class="category-item">
		                                             <a th:href="@{/restaurants?category=ハンバーガー}">ハンバーガー</a>
												 </div>
												 <div class="category-item">
		                                             <a th:href="@{/restaurants?category=焼き鳥}">焼き鳥</a>
												 </div>
												 <div class="category-item">
		                                             <a th:href="@{/restaurants?category=うなぎ}">うなぎ</a>
												 </div>
												 <div class="category-item">
		                                             <a th:href="@{/restaurants?category=カフェ}">カフェ</a>
												 </div>
												 <div class="category-item">
		                                             <a th:href="@{/restaurants?category=スイーツ}">スイーツ</a>
												 </div>
												 <div class="category-item">
		                                             <a th:href="@{/restaurants?category=ビール}">ビール</a>
												 </div>
                                             </divclass="category-container">
                                         </td>                                     
                                     </tr>                                                                                                                                                                                                                                                                                                                                                                                                    
                                 </tbody>
                             </table>  
                         </div>
                     </div> 
                     <div class="d-flex justify-content-center">
                     	<div class="d-flex justify-content-center col-xl-5 col-lg-6 col-md-8 nagoyameshi-item">
                     		<a th:href="@{/restaurants}">料理店一覧へ</a>  
                     	</div>
                     </div>
                 </div>
             </main>
             
         </div>    
        
				 <!-- フッター -->
             <div th:replace="~{fragment :: footer}"></div>
			 </div>
		</div>
			<div th:replace="~{fragment :: scripts}"></div>  
	 </body>
 </html>