<!DOCTYPE html>
 <html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">    
     <head>
         <div th:replace="~{fragment :: meta}"></div>   
              
         <div th:replace="~{fragment :: styles}"></div>
           
         <title>会員情報</title>   
     </head>
     <body>
         <div class="nagoyameshi-wrapper">
             <!-- ヘッダー -->
             <div th:replace="~{fragment :: header}"></div>
             
             <main>
                 <div class="container pb-5 nagoyameshi-container">
                     <div class="row justify-content-center">
                         <div class="col-xl-5 col-lg-6 col-md-8">
                             
                             <h1 class="mb-3 text-center">会員情報</h1> 
                             
                             <div class="d-flex justify-content-end align-items-end mb-3">                    
                                 <div>
                                     <a th:href="@{/general/user/edit}">編集</a>                        
                                 </div>
                             </div>                                       
                             
                             <div th:if="${successMessage}" class="alert alert-info">
                                 <span th:text="${successMessage}"></span>
                             </div>                               
                             
                             <div class="container mb-4">
                                 <div class="row pb-2 mb-2 border-bottom">
                                     <div class="col-4">
                                         <span class="fw-bold">氏名</span>
                                     </div>
             
                                     <div class="col">
                                         <span th:text="${user.getName()}"></span>
                                     </div>
                                 </div>                    
             
                                 <div class="row pb-2 mb-2 border-bottom">
                                     <div class="col-4">
                                         <span class="fw-bold">フリガナ</span>
                                     </div>
             
                                     <div class="col">
                                         <span th:text="${user.getFurigana()}"></span>
                                     </div>
                                 </div>            
                                 
                                 <div class="row pb-2 mb-2 border-bottom">
                                     <div class="col-4">
                                         <span class="fw-bold">郵便番号</span>
                                     </div>
             
                                     <div class="col">
                                         <span th:text="${user.getPostalCode()}"></span>
                                     </div>
                                 </div>   
                                 
                                 <div class="row pb-2 mb-2 border-bottom">
                                     <div class="col-4">
                                         <span class="fw-bold">住所</span>
                                     </div>
             
                                     <div class="col">
                                         <span th:text="${user.getAddress()}"></span>
                                     </div>
                                 </div>
             
                                 <div class="row pb-2 mb-2 border-bottom">
                                     <div class="col-4">
                                         <span class="fw-bold">電話番号</span>
                                     </div>
             
                                     <div class="col">
                                         <span th:text="${user.getPhoneNumber()}"></span>
                                     </div>
                                 </div>  
                                 
                                 <div class="row pb-2 mb-2 border-bottom">
                                     <div class="col-4">
                                         <span class="fw-bold">メールアドレス</span>
                                     </div>
             
                                     <div class="col">
                                         <span th:text="${user.getEmail()}"></span>
                                     </div>
                                 </div>                                 
                             </div>                                                                                                                           
                         </div>
                     </div>
                 </div>
             </main>
             
             <!-- 如果用户角色是 General，则显示升级为 VIP 的链接 -->
	        <div sec:authorize="hasRole('ROLE_GENERAL')">
			    <div class="text-center mt-5">
			       <a href="/general/user/upgrade" class="btn nagoyameshi-btn">VIPにアップグレード</a>
			    </div>
			</div>
			<!-- 如果用户角色是 VIP，则显示退订按钮 -->
			<div sec:authorize="hasRole('ROLE_VIP')">
			    <div class="text-center mt-5">
			       <a href="/general/user/cancel-vip" class="btn nagoyameshi-btn">VIP退会</a>
			    </div>
			</div>



             
             <!-- フッター -->
             <div th:replace="~{fragment :: footer}"></div>
         </div>    
         
         <div th:replace="~{fragment :: scripts}"></div>  
   </body>
 </html>