<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">    
	<head>
		<div th:replace="~{fragment :: meta}"></div>   
		<div th:replace="~{fragment :: styles}"></div>
           <!-- Flatpickr -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
         
		<title>レビュー編集ページ</title>   
	</head>
	
	<body>
		<div class="samuraitravel-wrapper">
             <!-- ヘッダー -->
             <div th:replace="~{fragment :: header}"></div>
         
		<main>
			<div class="container pt-4 pb-5 samuraitravel-container">
				<div class="row justify-content-center">
					<div class="col-xxl-9 col-xl-10 col-lg-11">
						<nav class="mb-4" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
							<ol class="breadcrumb mb-0">                        
									<li class="breadcrumb-item"><a th:href="@{/}">ホーム</a></li>
									<li class="breadcrumb-item"><a th:href="@{/houses}">民宿一覧</a></li>
									<li class="breadcrumb-item"><a th:href="@{/houses/show}">民宿詳細</a></li>
									<li class="breadcrumb-item active" aria-current="page">レビュー編集</li>
							</ol>
						</nav>
						
						<h1 class="mb-4 text-center" th:text="${house.getName()} + 'のレビュー編集'"></h1>
						
					</div>
				</div>
			</div>
		</main>
		</div>
	</body>
	
</html>