 <!DOCTYPE html>
 <html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">    
     <head>
         <div th:replace="~{fragment :: meta}"></div>   
              
         <div th:replace="~{fragment :: styles}"></div>
           
         <title>料理店一覧</title>   
     </head>
     <body>
         <div class="nagoyameshi-wrapper">
             <!-- ヘッダー -->
             <div th:replace="~{fragment :: header}"></div>
             
             <main>
                 <div class="container nagoyameshi-container pb-5">
                     <div class="row justify-content-center">   
						 <h1>店舗一覧</h1> 
						 
						 <div class="col-xl-3 col-lg-4 col-md-12">               
                             <form method="get" th:action="@{/restaurants}" class="w-100 mb-3">
                                 <div class="input-group">
                                     <input type="text" class="form-control" name="keyword" th:value="${keyword}" placeholder="店名">
                                     <button type="submit" class="btn text-black shadow-sm nagoyameshi-btn">検索</button> 
                                 </div>               
                             </form>
                             <div class="card mb-3">
                                 <div class="card-header">
                                     予算から探す
                                 </div>
                                 <div class="card-body">
                                     <form method="get" th:action="@{/restaurants}" class="w-100">
                                         <div class="form-group mb-3">    
                                             <select class="form-control form-select" name="maxPrice">
                                                 <option value="" hidden>選択してください</option> 
													<option value="1000" th:selected="${maxPrice != null and maxPrice == 1000}">1,000円以内</option>
													<option value="2000" th:selected="${maxPrice != null and maxPrice == 2000}">2,000円以内</option>
													<option value="3000" th:selected="${maxPrice != null and maxPrice == 3000}">3,000円以内</option>
													<option value="4500" th:selected="${maxPrice != null and maxPrice == 4000}">4,000円以内</option>
													<option value="5000" th:selected="${maxPrice != null and maxPrice == 5000}">5,000円以内</option>

                                             </select>                                                                                
                                         </div>
                                         <div class="form-group">
                                             <button type="submit" class="btn text-black shadow-sm w-100 nagoyameshi-btn">検索</button>
                                         </div>                                           
                                     </form>
                                 </div>
                             </div>
						 </div>
						 
						 <div class="col">                                                                          
                             <div class="d-flex justify-content-between flex-wrap">                                
                                 <p th:if="${restaurantPage.getTotalPages() > 1}" class="fs-5 mb-3" th:text="${'検索結果：' + restaurantPage.getTotalElements() + '件' + '（' + (restaurantPage.getNumber() + 1) + ' / ' + restaurantPage.getTotalPages() + ' ページ）'}"></p> 
                                 <p th:unless="${restaurantPage.getTotalPages() > 1}" class="fs-5 mb-3" th:text="${'検索結果：' + restaurantPage.getTotalElements() + '件'}"></p>                                 
                             <form method="get" th:action="@{/restaurants}" class="mb-3 nagoyameshi-sort-box"> 
                                     <input th:if="${keyword}" type="hidden" name="keyword" th:value="${keyword}">
                                     <input th:if="${maxPrice}" type="hidden" name="maxPrice" th:value="${maxPrice}">                                      
                                     <select class="form-select form-select-sm" name="order" onChange="this.form.submit();">
                                         <option value="createdAtDesc" th:selected="${order == 'createdAtDesc' || order == null}">新着順</option>                                            
                                         <option value="maxPriceAsc" th:selected="${order == 'maxPriceAsc'}">最大料金が安い順</option>
                                     </select>   
                                 </form> 
                             </div>
                                                                         
                             <div class="mb-3" th:each="restaurant : ${restaurantPage}">
                                 <a th:href="@{/restaurants/__${restaurant.getId()}__}" class="link-dark nagoyameshi-card-link">
                                     <div class="card h-100">   
                                         <div class="row g-0">
                                             <div class="col-md-4">                                                                                
                                                 <img th:if="${restaurant.getImageName()}" th:src="@{/storage/__${restaurant.getImageName()}__}" class="card-img-top nagoyameshi-horizontal-card-image" alt="店舗画像">                                                     
                                                 <img th:unless="${restaurant.getImageName()}" th:src="@{/images/noImage.png}" class="card-img-top nagoyameshi-horizontal-card-image" alt="NO IMAGE">                                                    
                                             </div> 
                                             <div class="col-md-8">                                                                                                                        
                                                 <div class="card-body">                                    
                                                     <h3 class="card-title mb-3" th:text="${restaurant.getName()}"></h3>                                            
  
                                                     <hr class="mb-3">
                                                     
                                                     <p class="card-text mb-2">
                                                         <span th:text="${restaurant.getDescription()}"></span>
                                                     </p>   
                                                     
                                                     <p class="card-test mb-2">    
														 <span th:text="|¥${restaurant.getMinPrice()} ~ ¥${restaurant.getMaxPrice()}|"></span>
                                                     </p>                                             
                                                     
                                                     <p class="card-text mb-2">
                                                         <small class="text-muted" th:text="${'〒' + restaurant.getPostalCode()}"></small>
                                                         <small class="text-muted" th:text="${restaurant.getAddress()}"></small>                                                      
                                                     </p>   
                                                                                                                                                                                                                                                                  
                                                 </div>
                                             </div>
                                         </div>
                                     </div>    
                                 </a>            
                             </div>
						 </div>                                                                                       
             
                             <!-- ページネーション -->
                             <div th:if="${restaurantPage.getTotalPages() > 1}" class="d-flex justify-content-center">
                                 <nav aria-label="料理店一覧ページ">
                                     <ul class="pagination">
                                         <li class="page-item">
                                             <span th:if="${restaurantPage.isFirst()}" class="page-link disabled">前</span>
                                             <a th:unless="${restaurantPage.isFirst()}" th:href="@{/restaurants(page = ${restaurantPage.getNumber() - 1}, keyword = ${keyword}, maxPrice = ${maxPrice}, order = ${order})}" class="page-link nagoyameshi-page-link">前</a>
                                         </li>
                                         <li th:each="i : ${#numbers.sequence(0, restaurantPage.getTotalPages() - 1)}" class="page-item">
                                             <span th:if="${i == restaurantPage.getNumber()}" class="page-link active nagoyameshi-active" th:text="${i + 1}"></span>
                                             <a th:unless="${i == restaurantPage.getNumber()}" th:href="@{/restaurants(page = ${i}, keyword = ${keyword}, maxPrice = ${maxPrice}, order = ${order})}" class="page-link nagoyameshi-page-link" th:text="${i + 1}"></a>
                                         </li>
                                         <li class="page-item">                        
                                             <span th:if="${restaurantPage.isLast()}" class="page-link disabled">次</span>
                                             <a th:unless="${restaurantPage.isLast()}" th:href="@{/restaurants(page = ${restaurantPage.getNumber() + 1}, keyword = ${keyword}, maxPrice = ${maxPrice}, order = ${order})}" class="page-link nagoyameshi-page-link">次</a>
                                         </li>
                                     </ul>
                                 </nav> 
                             </div>                                      
                         </div>
                     </div>
                 </div>  
             </main>
             
             <!-- フッター -->
             <div th:replace="~{fragment :: footer}"></div>
         </div>    
         
         <div th:replace="~{fragment :: scripts}"></div>  
   </body>
 </html>