<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="~{fragment :: meta}"></div>   
    <div th:replace="~{fragment :: styles}"></div> 
    <title>ログイン</title>       
</head>
<body>
    <div class="nagoyameshi-wrapper">
        <!-- ヘッダー -->
        <div th:replace="~{fragment :: header}"></div>
        
        <main>
            <div class="content-main pt-4 pb-5">
                <div class="row justify-content-center">        
                    <div class="col-xxl-9 col-xl-10 col-lg-11">                            
                        <h1 class="mb-4 text-center">ログイン</h1>
                        
                        <!-- 显示成功消息 -->
                        <div th:if="${successMessage}" class="alert alert-success">
                            <span th:text="${successMessage}"></span>
                        </div>
                        
                        <!-- 显示错误消息 -->
                        <div th:if="${errorMessage}" class="alert alert-danger">
                            <span th:text="${errorMessage}"></span>
                        </div>
                        
                        <div th:if="${param.error}" class="alert alert-danger">
                            メールアドレスまたはパスワードが正しくありません。
                        </div>
                        
                        <form th:action="@{/login}" method="post">
                            <div class="form-group mb-3">
                                <input type="text" class="form-control" name="username" autocomplete="email" placeholder="メールアドレス" autofocus required>
                            </div>
                            <div class="form-group mb-3">
                                <input type="password" class="form-control" name="password" autocomplete="new-password" placeholder="パスワード" required>
                            </div>
                            
                            <div class="form-group d-flex justify-content-center my-4">
                                <button type="submit" class="btn text-black shadow-sm w-100 nagoyameshi-btn">ログイン</button>
                            </div>
                        </form>
                                                                                           
                        <div class="text-center">
                            <a th:href="@{/signup}">
                                会員登録
                            </a>
                        </div>
                        <div class="text-center">
							 <a th:href="@{/reset}">パスワード忘れた?</a>
                         </div>
                    </div>
                </div>
            </div>
        </main>
        
        <!-- フッター -->
        <div th:replace="~{fragment :: footer}"></div>
    </div>
    
    <div th:replace="~{fragment :: scripts}"></div>    
</body>
</html>