<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="~{fragment :: meta}"></div>   
    <div th:replace="~{fragment :: styles}"></div> 
    <title>パスワードリセット</title>       
</head>
<body>
    <div class="nagoyameshi-wrapper">
        <!-- ヘッダー -->
        <div th:replace="~{fragment :: header}"></div>
        
        <main>
            <div class="content-main pt-4 pb-5">
                <div class="row justify-content-center">        
                    <div class="col-xxl-9 col-xl-10 col-lg-11">                            
                        <h1 class="mb-4 text-center">パスワードリセット</h1>
                        
                        <form th:action="@{/reset}" method="post">
							<label for="email">メールアドレス</label>
							<div th:if="${errorMessage}" class="alert alert-danger">
					            <span th:text="${errorMessage}"></span>
					        </div>
					        <div th:if="${successMessage}" class="alert alert-danger">
					            <span th:text="${successMessage}"></span>
					        </div>
					        
							<div class="form-group d-flex justify-content-center my-4">
						    	<input type="email" name="email" placeholder="メールアドレスを入力してください" required>
							</div>
						     <div class="form-group d-flex justify-content-center my-4">
						    	<button class="btn text-black shadow-sm w-100 nagoyameshi-btn" type="submit">パスワードリセットリンクを送信</button>
						     </div>
						</form>						
                        
                    </div>
                </div>
            </div>
        </main>
        
        <!-- フッター -->
        <div th:replace="~{fragment :: footer}"></div>
    </div>
    
    <div th:replace="~{fragment :: scripts}"></div>    
</body>
</html>